@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #ffffff;
    --cor-terciaria: #7000ff;
    --cor-hover: #240052;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 22%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-style: italic;
    font-weight: 400;
    color: var(--cor-terciaria);
    text-decoration: none;
    font-size: 1.25rem;
}

.cabecalho__menu__link:hover {
    color: var(--cor-secundaria);
    transition: 0.3s ease-in-out;
}

.apresentacao {
    padding: 5.2% 20%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    font-weight: 800;
    font-style: italic;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__titulo__paragrafo {
    font-size: 1.37rem;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
}

.apresentacao__links,
li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    font-family: var(--fonte-primaria);
}

.apresentacao__links__titulo {
    font-size: 1.12rem;
}

.apresentacao__links__link {
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    text-decoration: none;
    width: 50%;
    text-align: center;
    border-radius: 16px;
    font-size: 1.12rem;
    padding: 20px 0;
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
    transition: 0.3s ease-in-out;
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    text-align: center;
    padding: 24px;
    background-color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 5%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}